body {
	max-width: 650px;
	margin: 40px auto;
	padding: 0 10px;
	color: #444444;
	background: #eeeeee;
	transition: all 0.5s;
}

body, button {
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2 {
	margin-left: -0.5em;
}

textarea {
    width: 100%;
    height: 15em;
    padding-top: 1em;
	resize: none;
}

input {
	height: 100%;
}

input:not([type]), input[type=password] {
	font-family: monospace;
}

.mediumbox {
	width: 20em;
	height: 5em;
}

label, input, button, textarea {
	display: block;
	margin-top: 1em;
	border: none;
	border-radius: 5px;
	transition-duration: 0.2s;
}

input, textarea, button {
	border: 1px solid #44444444;
}

input:focus, textarea:focus, button:focus {
	outline: none;
}

input:focus, textarea:focus {
	border: 1px solid #444444aa;
}

textarea:disabled, input:disabled {
	background: #ffffff33;
}

.checkbox-container {
	list-style: none;
	height: fit-content;
}
.checkbox-container label {
	display: inline;
	margin-left: 0.5em;
}
.checkbox-container input {
	display: inline;
	height: 1em;
	transform: scale(1.25);
}

.alert {
	border-radius: 3px;
	margin-top: 0.5em;
	padding: 0.75em;
	background: #ffffff44;
	width: 75%;
}
.alert-error {
	background: #ffaaaa44;
}
.alert-info {
	background: #aaaaff44;
}

p {
	text-align: justify;
}

button {
	transition-duration: 0.05s;
	border: 1px solid #44444444;
}
button:focus {
	border: 1px solid #44444477;
}
button:hover {
	border: 1px solid #444444aa;
}
button:active {
	opacity: 50%;
}

.tabList {
	border-radius: 5px;
}
.tabList button {
	display: inline;
	width: 6em;
	margin: 0;
	border: 1px solid #44444444;
	margin-right: 0.2em;
}
.tabList button:hover {
	background: #aaaaaa44;
}
.tabList button.active {
	border: none;
	background: #0077ff44;
}

.page-header a {
	color: #000000;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #c9d1d9;
		background: #0d1117;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #c9d1d9;
	}

	a:link {
		color: #58a6ff;
	}

	a:visited {
		color: #8e96f0;
	}

	textarea, input, button {
		background: #1d2127;
		color: #c9d1d9;
	}

	.page-header a {
		color: #c9d1d9;
	}
}

@media only screen and (max-width: 1000px) {
  body {
	max-width: 80%;
	margin: 40px auto;
  }
}

.visualhidden {
	opacity: 0;
}
.hidden {
	display: none;
}
